.profile-page {
  &__info {
    display: flex;
    gap: 20px;
    padding: 0px 20px 20px 20px;
    align-items: center;
  }

  &__cover-wrapper {
    width: 160px;
    height: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cover-shadow {
    width: 160px;
    height: 160px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
  }

  &__play-button {
    font-size: 48px !important;
    position: absolute;
  }

  &__credits {
    align-self: flex-end;
  }

  &__top-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px 20px 20px;
  }

  &__content {
    display: flex;
    gap: 20px;

    &-wrapper {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__subscription-section {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__change-subscription-button {
    background-color: transparent;
    padding: 0px 12px !important;
  }
}