.album-card {
  width: 160px;
  background-color: #282828;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;

  &:hover {
    background-color: #505050;
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &-wrapper {
      width: 128px;
    }
  }

  &__info {
    margin-top: 4px;
    width: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}