.playlist-icon-view {

  &__side-bar-icon {
    width: 48px;
    height: 48px;
    position: relative;
  }

  &__avatar {

    &-wrapper {
      width: 64px;
      height: 64px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: rgb(51, 51, 51) !important;
      }
    }

    &--liked {
      background: linear-gradient(240deg, rgba(65, 177, 56, 1) 0%, rgba(112, 219, 102, 1) 40%, rgba(255, 173, 66, 1) 95%);
    }

    &--default {
      background: rgba(65, 177, 56, 1);
    }
  }
}