.song {
  display: grid;
  width: 100%;
  padding: 12px;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;

  &__wrapper {
    padding-left: 10px;
    display: grid;
    gap: 16px;
    align-items: center;

    &--with-cover {
      grid-template-columns: 16px 48px auto;
    }

    &--without-cover {
      grid-template-columns: 16px auto;
    }
  }

  &__play-button {
    width: 16px;
    display: flex;
    white-space: nowrap;
  }

  &__album-wrapper {
    align-self: center;
    justify-self: center;

    a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: unset;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      text-decoration: none;
      word-break: break-all;
    }
  }

  &__options-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px
  }

  &__credentials {
    display: flex;
    flex-direction: column;
    justify-self: start;

    h5,
    a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: unset;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      text-decoration: none;
      word-break: break-all;
    }
  }

  &__dropdown-item {
    padding: 2px 0;
    color: #FFFFFF;
    display: flex;
    gap: 10px;
  }
}