.song {
  display: grid;
  width: 100%;
  padding: 12px;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;

  &__wrapper {
    padding-left: 10px;
    display: flex;
    gap: 16px;
    min-width: 250px;
    align-items: center;
  }

  &__play-button {
    width: 16px;
    display: flex;
    white-space: nowrap;
  }

  &__album-wrapper {
    align-self: center;
    justify-self: center;

    a {
      text-decoration: none;
    }
  }

  &__options-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px
  }

  &__credentials {
    display: flex;
    flex-direction: column;
    justify-self: start;
  }

  &__dropdown-item {
    padding: 2px 0;
    color: #FFFFFF;
    display: flex;
    gap: 10px;
  }
}