.album-page {
  min-height: 100%;
  background: linear-gradient(180deg, rgba(70, 70, 70, 1), rgba(33, 33, 33, 1) 400px);

  &__wrapper {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}