.refresh-song-radio-modal {

  &__cancel-button {
    color: #ffffff;
    background: rgb(33, 33, 33);

    &:hover {
      background: rgb(33, 33, 33) !important;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}