.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #121212;

  &__form {
    width: 100%;
    max-width: 300px;

    label {
      color: white !important;
    }
  }

  &__forgot-password-link {
    float: right;
  }

  &__registration-link {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 30px 10px;
    height: fit-content;
    max-height: 500px;
    border-radius: 30px;
    background-color: #333333;
  }

  &__confirm-button {
    width: 100%;
  }
}