.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #121212;

  &-forgot-password {
    float: right;
  }

  &-registration-link {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  & .form-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 30px 10px;
    height: fit-content;
    max-height: 500px;
    border-radius: 30px;
    background-color: #333333;
  
    label {
      color: white;
    }
  }

  &-button {
    width: 100%;
  }
}